[submodule "Ejercicios/KeyCode_Grupo_A"]
	path = Ejercicios/KeyCode_Grupo_A
	url = https://github.com/AriasCamilaA/KeyCode_Grupo_A/
[submodule "KeyCode_Grupo_A"]
	path = KeyCode_Grupo_A
	url = https://github.com/AriasCamilaA/KeyCode_Grupo_A.git
